<%= render partial: 'layouts/navbar', locals: {title: "INVENTORY LIST"} %>

<h2 class="header"> INVENTORY LIST </h2>

<div id="newPartButton">
  <%= link_to 'CREATE NEW PART', new_part_path, {class: "newPart"} %>
</div>

<hr>

<h5 class="searchHeader"> SEARCH </h5>

<div class="searchBar">
  <%= form_for "", url: parts_path, method: :get do |f| %>
    <%= f.text_field :search, placeholder: "..."%>
  <% end %>
</div>

<hr>

<div class='priorityBox'>
    <div class='priorityBoxTitle'> INVENTORY </div>
    <% @parts.each do |part| %>
        <div class='priorityTickets'>
             <%= link_to part_path(:id => part.id) do %>
                <div class='partLink'>
                    <div class="leftPart"><%= part.name %></div>
                    <% if(part.quantity > 0)%>
                        <div class="rightPart"><%= part.quantity %> in stock</div>
                    <% else %>
                        <div class="rightPart"><span class="red">Out of stock</span></div>
                    <% end %>
                </div>
            <% end %>
        </div>
    <% end %>
</div>

