
<%= render partial: 'layouts/navbar', locals: {title: "DASHBOARD"} %>


<div class="imgdiv">
    <img src="https://i.imgur.com/wqfPOwS.png" alt="Free Bee Logo">
</div>



<ul id="grid" class="clear">
        <li>
             <%= link_to cars_path do %>
                <div class="hexagon"> 
                <p class='hexText'> ADD ISSUE </p>
            <% end %>
            </div>
        </li>
        <li>
            <%= link_to todo_path do %>
                <div class="hexagon">
                <p class='hexText'> PRIORITY TO-DO LIST </p>
            </div>
            <% end %>
        </li>
        <li>
            <%= link_to completed_tickets_path do %>
                <div class="hexagon">
                <p class='hexText'> COMPLETED LOG </p>
                </div>
            <% end %>
        </li>
        <li>
            <%= link_to parts_path do %>
                <div class="hexagon">
                <p class='hexText'> INVENTORY LIST </p>
                </div>
            <% end %>
        </li>
        <li>
            <%= link_to calendar_path do %>
                <div class="hexagon">
                <p class='hexText'> CALENDAR </p>
                </div>
            <% end %>
        </li>
        <li>
            <%= link_to all_path do %>
                <div class="hexagon">
                <p class='hexText'> CARS </p>
                </div>
            <% end %>
        </li>
        <li>
            <%= link_to all_path do %>
                <div class="hexagon hide">
                <p class='hexText'> CARS </p>
                </div>
            <% end %>
        </li>
        <li><% if current_user.admin? %>
                <%= link_to admin_path do %>
                    <div class="hexagon ">
                    <p class='hexText'> ADMIN </p>
                    </div>
                <% end %>
            <% end %>
        </li>
        <li>
            <%= link_to all_path do %>
                <div class="hexagon hide">
                <p class='hexText'> CARS </p>
                </div>
            <% end %>
        </li>
</ul>

<div class='highPriorityBox homeBox'>
    <div class='priorityBoxTitle'> HIGH PRIORITY </div>
        <% @tickets.each do |ticket| %>
            <%= link_to ticket_path(ticket.id) do %>
                <div class='homePagePriority'>
                    <span class='ticketCarName'><%= ticket.car.name %></span> <br>
                    <span class='ticketCarCat'><%= ticket.category %></span>
                </div>
            <% end %>
        <% end %>
    </div>
</div>

