<nav class='navbar'> 
    <%= link_to :root do%>
        <span class='backButton'>
            <i class="fas fa-caret-left fa-2x"></i> 
        </span>
    <% end %>
    PRIORITY TO-DO LIST 
</nav>

<h2 class='header'> PRIORITY TO-DO LIST </h2>

<div class='highPriorityBox'>
    <div class='priorityBoxTitle'> HIGH PRIORITY </div>


</div>


<div class='priorityBox'>
    <div class='priorityBoxTitle'> TO-DO LIST </div>
    <% @todo.each do |item| %>
        <div class='priorityTickets'>
             <%= link_to ticket_path(:id => item.id) do %>
                <div class='ticketLink'>
                    <div class="leftDiv"><%= item.car.name %></div>
                    <div class="centerDiv"><%= item.category %></div>
                    <div class="rightDiv"><%= item.car.generation %></div>
                </div>
            <% end %>
        </div>
    <% end %>
</div>