<%= render partial: 'layouts/navbar', locals: {title: "COMPLETED"} %>


<%= form_for "", url: completed_tickets_path, method: :get do |f| %>
	<div id="filter-header"> ZONE </div>
	<div class="filter-style">
	<%= f.select :filter, ['Coconut Grove', 'Coral Gables', 'Hallandale Beach', 'Key Biscayne', 'Mainland', 'Miami Lakes', 'South Beach', 'Other'], {
		:include_blank => true, id: "filter" } , { onchange: 'this.form.submit();', prompt: 'Select Person' } %>
	</div>
<% end %>

<div class='priorityBox'>
    <div class='priorityBoxTitle'> COMPLETED TICKETS </div>
    <% @completed.each do |item| %>
        <div class='priorityTickets'>
             <%= link_to ticket_path(:id => item.id) do %>
                <div class='ticketLink'>
                    <div class="leftDiv"><%= item.car.name %></div>
                    <div class="centerDiv"><%= item.category %></div>
                    <div class="rightDiv"><%= item.car.generation %></div>
                </div>
            <% end %>
        </div>
    <% end %>
</div>
