<%= render partial: 'layouts/navbar', locals: {title: "CLOSE TICKET"} %>

<h2 class="header"><%= @ticket.car.name %></h1>

<% if notice %>
    <div> <%= notice %> </div>
<% end %>

<div class="carContainer">
    <div class='ticketItem'>
        DESCRIPTION<br><br>   
       <span class='wordBorder'> <%= @ticket.category %> </span>
    </div>

    <div class='ticketItem'>
        NOTES<br><br>
        <%= @ticket.note %>
    </div>

    <div class='ticketItem'>
        <div class="imageContainer">
            PICTURES<br>
            <% if @ticket.pictures %>
            <div class="picContainer">
                <% @ticket.pictures.length.times do |x|%>
                    <%= image_tag @ticket.pictures[x].url, :class => "imgPreview" %>
                <% end %>
            </div>
            <% else %>
                No Picture Added
            <% end %>
        </div>
    </div>





    <%= form_for @ticket, method: "patch" do |f| %>
        <%= f.hidden_field :category, value: @ticket.category %>
        <%= f.hidden_field :note, value: @ticket.note %>
        <%= f.hidden_field :pictures, value: @ticket.pictures %>

    <div class='ticketItem'>
        PART USED<br> 
        <div class='select-style'>
            <%= f.select(:part_used, @parts.map{ |x| [x.name, x.id] }, {:include_blank => true}) %>
        </div>
    </div>

    <div class='ticketItem'>
        COMPLETED BY<br> <%= f.text_field :mechanic %>
    </div>

    <div class='ticketItem'>
        FINAL RESOLUTION<br> <%= f.text_field :final_resolution %>
    </div>

    <div class='ticketItem'>
        TIME SPENT<br> <%= f.text_field :time_spent %>
    </div>

        <%= f.hidden_field :car_id, value: @ticket.car_id %>
        <%= f.hidden_field :driveable, value: true %>
        <% if @ticket.completed == false %>
            <div class='submitTicketButton'>
                 <%= f.hidden_field :completed, value: true %>
                <%= f.submit "CLOSE TICKET", class: 'submitButton' %>
            </div>
        <% elsif @ticket.completed == true %>
            <div class='submitTicketButton'>
                <%= f.hidden_field :completed, value: false %>
                <%= f.submit "REOPEN ISSUE", class: 'submitButton' %>
            </div>
        <% else %>
            <% end %>
        <% end %>

</div>
