<%= render partial: 'layouts/navbar', locals: {title: "REPORTS"} %>

<h3 classs='header'> RESULTS </h3>
<div class='priorityBox'>
    <div class='priorityBoxTitle'> TICKETS </div>
    <% @tickets.each do |item| %>
        <div class='priorityTickets'>
             <% if(item.in_progress) == true %>
             <%= link_to finalize_path(:id => item.id) do %>
                <div class='ticketLink green'>
                    <div class="leftDiv"><%= item.car.name %></div>
                    <div class="centerDiv"><%= item.category %></div>
                    <div class="rightDiv"><%= item.car.generation %></div>
                </div>
                <% end %>
                <% else %>
             <%= link_to ticket_path(:id => item.id) do %>
                <div class='ticketLink'>
                    <div class="leftDiv"><%= item.car.name %></div>
                    <div class="centerDiv"><%= item.category %></div>
                    <div class="rightDiv"><%= item.car.generation %></div>
                </div>
            <% end %>
            <% end %>
        </div>
    <% end %>
</div>

<%= link_to "Download Excel File", tickets_path(filtering_params.merge(format: :xls)) %>

