<nav class='navbar'> 
    <%= link_to :back  do%>
        <span class='backButton'>
            <i class="fas fa-caret-left fa-2x"></i> 
        </span>
    <% end %>
    ADD ISSUE
   <%= link_to(destroy_user_session_path, controller: 'sessions', method: :delete) do %>
       <span class='navSignout'>
           <i class="fas fa-sign-out-alt fa-2x"></i>
       </span>
   <% end %>  
</nav>


<div class='newTicketHeader'>
    <h2 class='header'> <%= @car.name %> </h2> 
    <p class='gen'> <%= @car.generation %> </p>
</div>

<div class='ticketContainer'>
<%= form_for @ticket, url: { action: "create" } do |f| %>
    <div class='ticketItem'>
        MAINTENANCE CATEGORY<br><br>
        <div class='select-style'>
            <%= f.select :category, ['Mechanical', 'Electrical', 'Body', 'Other' ], {}, {required: 'true', autofocus: 'true' }%> 
        </div>
    </div>
    <div class='ticketItem'>
        CAN THE CAR DRIVE?<br><br>
        <div class='select-style'>    
            <%= f.select :driveable, [ ["Yes", true], ["No", false] ], {}, {required: 'true', autofocus: 'true' }%> 
        </div>
    </div>
    <div class='ticketItem'>
        <div class="image-upload">
            ADD PICTURE<br><br>
            <label for="file-input">
            <i class="far fa-plus-square fa-3x"></i>
            </label>
            <%= f.file_field :picture, id:"file-input" %>
        </div>

    </div>
    <div class='ticketItem'>
        NOTES<br> <%= f.text_field :note %> <br>
    </div>
    <div class='ticketItem'>
        WHO WILL WORK ON THIS<br> <%= f.text_field :mechanic %>
    </div>
        <%= f.hidden_field :car_id, value: params[:car_id] %>
        <%= f.hidden_field :completed, value: false %>
    <div class='submitTicketButton'>
        <%= f.submit "SEND", class: 'submitButton' %>
    </div>
<% end %>
</div>

