<%= render partial: 'layouts/navbar', locals: {title: "ADD ISSUE"} %>


<div class='newTicketHeader'>
    <h2 class='header'> <%= @car.name %> </h2>
    <p class='gen'> <%= @car.generation %> </p>
</div>

<div class='ticketContainer'>
<%= form_for @ticket, url: { action: "create" } do |f| %>
    <div class='ticketItem'>
        MAINTENANCE CATEGORY<br>
        <div class='select-style'>
            <%= f.select :category, ['Mechanical', 'Electrical', 'Body', 'Wrap', 'Other' ], {}, {required: 'true', autofocus: 'true' }%>
        </div>
    </div>
    <div class='ticketItem'>
        CAN THE CAR DRIVE?<br>
        <div class='select-style'>
            <%= f.select :driveable, [ ["Yes", true], ["No", false] ], {}, {required: 'true', autofocus: 'true' }%>
        </div>
    </div>
    <div class='ticketItem'>
        <div class="image-upload">
            ADD PICTURE<br><br>
            <label for="file-input">
                <i class="far fa-plus-square fa-2x"></i>
            </label>
            <%= f.file_field :picture, id:"file-input" %>
        </div>

    </div>
        <div class='ticketItem'>
        LOCATION<br>
        <div class="select-style">
        <%= f.select :location, ['Coconut Grove', 'Coral Gables', 'Hallandale Beach', 'Key Biscayne', 'Mainland', 'Miami Lakes', 'South Beach', 'Other'], {}, {required: 'true', autofocus: 'true' } %> </div> <br>
    </div>

    <div class='ticketItem'>
        NOTES<br> <%= f.text_field :note %> <br>
    </div>

        <%= f.hidden_field :car_id, value: params[:car_id] %>
        <%= f.hidden_field :completed, value: false %>
    <div class='submitTicketButton'>
        <%= f.submit "CREATE TICKET", class: 'submitButton' %>
    </div>
<% end %>
</div>

