<%= render partial: 'layouts/navbar', locals: {title: "PRIORITY TO-DO LIST"} %>


<h2 class="header"><%= @ticket.car.name %></h1>

<% if @ticket.completed == false %>
    <%= render 'notcompleted' %>
<% elsif @ticket.completed == true %>
    <%= render 'completed' %>
<% end %>


<%= link_to 'EDIT TICKET', edit_ticket_path(:ticket => @ticket, @ticket.car => @car ) %>