<nav class='navbar'> 
    <%= link_to :root do%>
        <span class='backButton'>
            <i class="fas fa-caret-left fa-2x"></i> 
        </span>
    <% end %>
    ADD ISSUE
   <%= link_to(destroy_user_session_path, controller: 'sessions', method: :delete) do %>
       <span class='navSignout'>
           <i class="fas fa-sign-out-alt fa-2x"></i>
       </span>
   <% end %>  
</nav>
<h2 class="header">CHOOSE CAR</h2>


<div class='carContainer'>
        <% @cars.each do |car| %>          
            <%= link_to new_ticket_path(:car_id => car.id) do %>
                <div class='carLink'> 
                    <p class="alignleft"> <%= car.name %> </p>
                    <p class="alignright"> <%= car.generation %> </p>
                </div>
            <% end %>
        <% end %>
</div>

